<plugin name='portlets-gatein' version='0.3' grailsVersion='2.0 &gt; *'>
  <author>Jakob Munih</author>
  <authorEmail>munih@parsek.net</authorEmail>
  <title>Gatein Portlets Plugin</title>
  <description>\
Generate JSR-168 compliant portlet war to use it in GateIN portal 3.1. 
Based on original Grails portlets plugin.
</description>
  <documentation>http://grails.org/plugins/portlets-gatein</documentation>
  <type>PortletsGateinGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='portlets' version='0.9.2 &gt; * ' />
  </runtimePluginRequirements>
  <behavior />
</plugin>